In [1]:
import numpy as np
import pandas as pd

In [3]:
print(type(pd))

<class 'module'>

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])

data.values
data.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
data[1]

0.5

In [13]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [20]:
# From what we've seen so far, it may look like the Series object is basically interchangeable with a one-dimensional NumPy array. 
# The essential difference is the presence of the index: while the Numpy Array has an implicitly defined integer index used to 
# access the values, the Pandas Series has an explicitly defined index associated with the values.

# This explicit index definition gives the Series object additional capabilities. For example, the index need not be an integer, 
# but can consist of values of any desired type. For example, if we wish, we can use strings as an index:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [21]:
data['a']

0.25

In [23]:
# In this way, you can think of a Pandas Series a bit like a specialization of a Python dictionary. 
# A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and 
# a Series is a structure which maps typed keys to a set of typed values.
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [19]:
population['California']

38332521

In [24]:
# Unlike a dictionary, though, the Series also supports array-style operations such as slicing:

population['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [22]:
# Constructing Series objects
# generally, we use some form of pd.Series(data, index=index)
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [28]:
# we can use a scalar which is repeated to fill the specified index
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [26]:
# data can be a dictionary, in which index defaults to the dictionary keys
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [26]:
# In each case, the index can be explicitly set if a different result is preferred:

pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [27]:
# Like the Series object discussed in the previous section, the DataFrame can be thought of either as a 
# generalization of a NumPy array, or as a specialization of a Python dictionary.

In [ ]:
# DataFrame as a generalized NumPy array

In [30]:
# If a Series is an analog of a one-dimensional array with flexible indices, 
# a DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names. 
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [29]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [31]:
# notice below how both series are aligned (sharing the same index) to form a DataFrame
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [32]:
# like a Series, a DataFrame also has an index attribute
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [33]:
# additionally, it also has a columns attribute
states.columns

Index(['population', 'area'], dtype='object')

In [ ]:
# Thus the DataFrame can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns
# have a generalized index for accessing the data.

In [ ]:
# DataFrame as specialized dictionary

In [36]:
# we can also think of a DataFrame as a specialization of a dictionary. 
# Where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data. 
# For example, asking for the 'area' attribute returns the Series object containing the areas we saw earlier:
states['area']
#type(states['area'])

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
# Notice the potential point of confusion here: in a two-dimesnional NumPy array, data[0] will return the first row. 
# For a DataFrame, data['col0'] will return the first column. 
# Because of this, it is probably better to think about DataFrames as generalized dictionaries 
# rather than generalized arrays, though both ways of looking at the situation can be useful.

In [ ]:
# Constructing DataFrame objects

In [41]:
# from a single Series object
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [42]:
# from a list of dicts
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [43]:
# Even if some keys in the dictionary are missing, Pandas will fill them in with NaN (i.e., "not a number") values:

pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [44]:
# from a dictionary of Series objects, as we saw earlier
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [46]:
# from a 2D numpy array. If omitted, an integer index will be used for each:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])
# notice how numpy creates a 3 by 2 ie row by column and in the Dataframe, it maps to 2 columns by 3 rows

        foo       bar
a  0.246010  0.477497
b  0.585828  0.944458
c  0.057591  0.015028

In [42]:
# from a numpy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [43]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [ ]:
# The Pandas Index Object

In [47]:
# This Index object is an interesting structure in itself, and it can be thought of either as an immutable array 
# or as an ordered set (technically a multi-set, as Index objects may contain repeated values). 
# Those views have some interesting consequences in the operations available on Index objects.
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [48]:
# Index as an immutable array
ind[1]
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [49]:
# Index objects also have many of the attributes familiar from NumPy arrays:

print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [50]:
# one difference between Index objects and numpy arrays is that they are immutable
# This immutability makes it safer to share indices between multiple DataFrames and arrays, 
# without the potential for side effects from inadvertent index modification.
ind[1] = 0

TypeError: Index does not support mutable operations

In [ ]:
# Index as ordered set

In [ ]:
# Pandas objects are designed to facilitate operations such as joins across datasets, which depend on many aspects
# of set arithmetic. The Index object follows many of the conventions used by Python's built-in set data structure, 
# so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [51]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [51]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [53]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [54]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [52]:
# These operations may also be accessed via object methods, for example 
indA.intersection(indB)
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')